


.loyaltyCards{

    background-color: transparent !important;
    border-color:#0D1B2A ;
    direction: rtl;

    
}

.clubs{
    display: flex;
    /* align-items: 'center'; */
    justify-content: center;
    align-items: baseline;
}


