.imgItem {
  object-fit: cover;
}

.itemDiv {
  box-shadow: 0 0px 10px rgb(0 0 0 / 0.3);
  border-radius: 20px;
}

.itemDetails {
  background-color: var(--mainColor);
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  justify-content: center;
  align-items: center;
}


