#welcomeContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
}
.categoriesInRow {
    margin-top: 2rem;
}
.categoriesScroll {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    width: 22rem;
    left: 0.4rem;
    gap: 1rem;
    position: relative;
}
#B_welcome {
    border-radius: 30px;
    top: 70%;
    width: 50%;
    background-color: black;
    padding: 10px;
    color: white;
    position: absolute;
    left: 25%;
}
.img {
    height: 50%;
    top: 15%;
    left: 21%;
    position: absolute;
}
.notRegLink{
    top: 80%;
    position: absolute;
    left: 30%;
}
.titles{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    display: flex;
    justify-content: flex-start;
}