#link{
    float: right;
    color: black;
    font-family: sans-serif;
}
#link2{
    float: right;
    color: black;
    font-family: sans-serif;
    font-size: small;
}
#titel3{
    font-size: small;
    color: white;
}

Link{
    color: white;
}