.page {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#container {
  width: 80%;
  height: max-content;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 10%;
}

#titel2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#container_all_input {
  margin-top: 20px;
}

#container_input {
  margin-bottom: 30px;
}

#text_input {
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.link2 {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: black;
}

#b_sign {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: var(--mainColor);
}
