.navbar {
  top: 0;
  width: 100%;
  min-height: max-content;
  background: var(--mainColor);
  box-sizing: border-box;
  padding: 10px 0;
}

.icons {
  height: 20px;
  width: 20px;
}

.icon-text {
  font-size: large;
}

.navbarCollapseDiv a {
  color: white;
}

.switch-handle {
  background-color: #ccc !important;
}

.nav-link {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.btnCollapse button {
  color: white;
}
