.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
    margin-bottom: 100px;
    background-color: #0D1B2A ;
}

.icons {

    height: 20px;
    width: 20px;
}

.icon-text {
    font-size: large
    
}
