:root {
  --gray: ##a9a9a9;
  --deepNavy: #0D1B2A ;
  --softNavy: #1B263B ;
  --blue: #415A77 ;
  --lightBlue: #778DA9 ;
  --white: #383838 ;
}
.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  /* background-color: #0D1B2A ; */
}
